<div class="general-info" data-collectionid= "<%= collection.id%>" 
	data-minthickness = "<%= @min_thickness%>" data-maxtotalthickness="<%= @max_total_thickness%>">
  <h4><strong><%= collection.name %></strong></h4>
  <p>Description: <%= collection.description %></p>
  </br>
  
  <h4><strong> Columns in Collection</strong></h4>
  <div>
    <% collection.column_collections.each do |x| %>
      <h5><%=x.strat_column.name%></br></h5>
    <% end %>
  </div>
</div> 