<div class= "formContainer">
  <%= simple_form_for @collection do |f| %>
    <div class="generalInfoForm">
      <h3>Collection Information</h3>
      <div class="infoFormFields">

        <%= f.input :name, error: 'Collection name is required' %>

        <%= f.input :description %>

        <%= f.label :strat_columns, label: "Select columns to add to collection" %>
        <span class="tooltips glyphicon glyphicon-question-sign">
          <span class="depth-tooltip">Ctrl or Shift + click to select multiple </span>
        </span> 

        <%= f.association :strat_columns, collection: @user_columns.order(:name), label: false %>
          
      </div>  
    </div>
    
    <div class = "form-group footer">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    
  <% end %>
</div>
