<%= simple_form_for @collection, remote: true, :html => { :multipart => true } do |f| %>
  <div id="errors" class="bg-danger text-danger"></div>  
  
  <div class="infoFormFields">

    <%= f.input :name, error: 'Collection name is required' %>

    <%= f.input :description %>

    <%= f.label :strat_columns, label: "Select columns to add to collection" %>
    <span class="tooltips glyphicon glyphicon-question-sign">
      <span class="depth-tooltip">Ctrl or Shift + click to select multiple </span>
    </span> 

    <%= f.association :strat_columns, collection: @user_columns.order(:name), label: false, input_html: {class: "column_collection"} %>
      
  </div> 

  <div class="modal-footer">
    <div class = "form-group">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>  
  
<% end %>