<div class="index-container">
  <div class="info-container">
    
    <div class="index-header">
      <h3 class="text-center">Collection Index</h3>
    </div>

    <div class="search-tools">
      <div class="search-container">
        <%= search_form_for @q, html: {class: "search-form"} do |f| %>

          <div class="search-field search-child">
            <%= f.search_field :name_cont, placeholder: 'Search collection details', class: 'form-control' %>
          </div>
          <div class="search-btn search-child">
            <%= f.submit 'Go', class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>

      <div class= "sort-container">
        <%=sort_link(@q, :name, {default_order: :asc}, {class: "btn btn-default"}) %>
        <%=sort_link(@q, :created_at, {default_order: :desc}, {class: "btn btn-default"}) %>
        <%=sort_link(@q, :updated_at, {default_order: :desc}, {class: "btn btn-default"}) %>
      </div>
    </div>

    
    <% @collections.each_with_index do |x,i| %>
      <div class ='info-wrapper'>
        <div class="index-title">
          <%= link_to collection_path(x.id) do%>
            <h4><%= x.name %></h4>
          <% end %>
        </div>  
      
        <div class ="index-description" data-index-description=<%=i%>>
          <p> <strong>Description:</strong> <%= x.description%></p>
          <div class= "the-separator"></div>
          </br>
          <h5><strong>Stratigraphic Columns: </strong></h5>
          <div class="index-columns">
            <% x.strat_columns.each do |y| %>
              <p> <%= y.name %> </p>
            <% end%>
          </div>
        </div>
        <div class= "time-container">

          <button type="button" class="btn btn-default btn-xs hide-details" title="Toggle Details" data-index-collapse= <%=i%>>        
            <i class="glyphicon glyphicon-menu-down"></i>
          </button>

          <p class= "index-time"><%= x.created_at.strftime("Created on: %m/%d/%Y, %I:%M%p")%></p>
          <p class= "index-time"><%= x.updated_at.strftime("Updated on: %m/%d/%Y, %I:%M%p") %></p>
        </div>
      </div>  
    <% end %>
    <%= will_paginate @collections%>
  </div>
</div>