<div class="flex-container">
  
  <div class= "left-column">
    <div class="left-column-title">
      <h3 class="title-show"><b>Collection Map View </b></h3>
      
      <%= link_to edit_collection_path(id: @collection.id), class: "btn btn-default btn-xs edit-full-column-btn" do %>
        <i class='glyphicon glyphicon-pencil'></i>
        Edit Full Collection Details
      <% end %>       
      
    </div>
    <!--<input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">-->
    <div id="collection_map"></div>        

  </div>
  
  <div class="right-column">
    <div class="general-info-wrapper collection-info">
      <div class="column-header">
        <h3><b>Collection General Information</b></h3>
      </div>
        

      <div id="collection">
        <!-- Funny enough, this renders the education partial and makes the records from the education 
        var in the profile/show controller available to be used in the partial in the form education.column -->
        <%= render @collection %>
      </div>
      
      <div class="info-btns">
        
        <div class="edit_show_btn">
          <%= link_to edit_collection_path(:id => @collection.id), class: "btn btn-default btn-xs edit-column-info-btn" do %>
            <i class='glyphicon glyphicon-pencil'></i>
            Edit Information
          <% end %>
        </div>
        
        <%= link_to collection_path(@collection.id), method: :delete, data: { confirm: 'Are you sure you want to delete this column?'}, class: 'btn btn-default btn-xs' do %>
          <i>Delete Column</i>
        <% end %>
        
      </div>  
    </div> <!--general info-->
    
  </div> <!--right-column end-->
</div> <!--flex container-->


<div class="collections-flex-container-map">
  <% @collection.strat_columns.each do |x,i| %>
  
    <div class="collections-flex-child flex-map-<%= i %>" data-toClose= "close-<%= i %>" id="column_<%=x.id%>">
      <div class="chart-header-group text-center">
        <h3 class="title title-<%= i %>"> <%= x.name %> </h3>
      </div>  
      <!-- SVG -->
    </div>     

  <% end %>
</div>