<% @textures_to_render.uniq.each do |i| %>
  <%= render i %>
<% end %>

<%= render "base_modal" %>

<div class="flex-container">
  
  <div class= "left-column left-column-collection">
    <div class="left-column-title">
      <h3 class="title-show"><b>Collection Map View </b></h3>
      
      <%= link_to edit_collection_path(id: @collection.id), class: "btn btn-default btn-xs edit-full-column-btn" do %>
        <i class='glyphicon glyphicon-pencil'></i>
        Edit Collection Details (HTML)
      <% end %>       
      
    </div>
    <!--<input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">-->
    <div id="collection_map"></div>        

  </div>
  
  <div class="right-column right-column-collection">
    <div class="general-info-wrapper collection-info">
      <div class="column-header">
        <h3><b>Collection General Information</b></h3>
      </div>
        

      <div id="collection">
        <!-- Funny enough, this renders the education partial and makes the records from the education 
        var in the profile/show controller available to be used in the partial in the form education.column -->
        <%= render @collection %>
      </div>
      
      <div class="info-btns">
        
        <div class="edit_show_btn">
          <%= link_to edit_collection_path(:id => @collection.id), remote: true, class: "btn btn-default btn-xs edit-column-info-btn" do %>
            <i class='glyphicon glyphicon-pencil'></i>
            Edit Information
          <% end %>
        </div>
        
        <%= link_to collection_path(@collection.id), method: :delete, data: { confirm: 'Are you sure you want to delete this column?'}, class: 'btn btn-default btn-xs' do %>
          <i>Delete Column</i>
        <% end %>
        
        <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#help_info">Help</button>
        <div id="help_info" class="collapse help-prompt">
          <p> Note: Map will only display markers for columns with valid coordinates.</p>
        </div>            
        
      </div>  
    </div> <!--general info-->
    
  </div> <!--right-column end-->
</div> <!--flex container-->

<div class= "collection-visualization-full-wrapper">
  <div class = "collection-visualization-wrapper">
    <div class= "visualization-header-wrapper">
      <h3 class="visualization-header"> <strong>Collection Visualization</strong></h3>
      
      <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#help">Help</button>
      <div id="help" class="collapse help-prompt sort-help">
        <p> Sort the columns by dragging and dropping the move [<span class="glyphicon glyphicon-move"></span>] icon! </p>
      </div>      
      
    </div>
    <div class="collections-flex-container-map" data-update-url = "<%= collection_sort_path%>">
      <% @collection.column_collections.each do |x| %>
        <div class="collections-flex-child column_<%=x.strat_column.id%>" id="column_collection_<%=x.id%>">
          <div class="chart-header-group text-center collection-header">
            <%= link_to strat_column_path(id: x.strat_column.id), target: :_blank do %>
              <h3 class="title"><strong> <%= x.strat_column.name %></strong></h3>
            <% end %>
            <span class="handle" title="Drag and drop!"> <span class="glyphicon glyphicon-move"></span></span>
          </div>  
          <!-- SVG -->
        </div>     
      <% end %>
    </div>
  </div>
</div>