<input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">

<div id="map"></div>

<% @textures_to_render.uniq.each do |i| %>
  <%= render i %>
<% end %>


<div class="flex-container-map">
  <% (1..4).each_with_index do |x,i| %>
  
    <div class="flex-child flex-map-<%= i %>" data-toClose= "close-<%= i %>">
      <div class="chart-header-group text-center">
        <h3 class="title title-<%= i %>"></h3>
        <button type="button" class="btn btn-default btn-xs close-map" data-close= "close-<%= i %>">
          Close
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
      </div>  
      <!-- SVG -->
    </div>     

  <% end %>
</div>


