<div class= "formContainer">
  <%= simple_form_for @strat_column do |f| %>
    <div class="generalInfoForm">
      <h3>Stratigraphic Column Information</h3>
      <div class="infoFormFields">      

        <%= render 'shared/forms/column_fields', f: f%>

      </div>  
    </div>
    
    <!--Nested attributes-->
      <%= f.simple_fields_for :layers do |layer| %>
          
        <%= render 'layer_form', f: layer %>
          
      <% end %> 


    <div class = "form-group footer">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to_add_association 'Add Layer', f, :layers, partial: 'layer_form',class: "add-layer" %>
    </div>
    
  <% end %>
</div>