<div class="general-info" data-stratid= "<%= strat_column.id%>">
  <h4><strong><%= strat_column.name %></strong></h4>
  <p>Location: <%= strat_column.location %></p>
  <p>Latitude: <%= strat_column.lat %> Longitude: <%= strat_column.lng %> </p>
  <p>Description: <%= strat_column.description %> </p>
  <p>Total Thickness (m): <%= @layers.sum(:thickness) %></p>
</div> 