<div class="flex-container">
  
  <%= render "base_modal" %>
  
  <div class= "left-column strat-left-column">
    <div class="left-column-title">
      <h3 class="title-show"><b>Stratigraphic Column Visualization</b></h3>
      
      <%= link_to edit_strat_column_path(id: @strat_column.id), class: "btn btn-default btn-xs edit-full-column-btn" do %>
        <i class='glyphicon glyphicon-pencil'></i>
        Edit Full Column Details (HTML)
      <% end %>  

      <button type="button" class="btn btn-default btn-xs hide-details" title="Toggle Details">
        
        <i class="glyphicon glyphicon-menu-right"></i>

      </button>    

      <div class="zoom-container">
        <button class="btn btn-default btn-xs columnZoomOut" title="Zoom Out">-</button>
        <button class="btn btn-default btn-xs columnZoomIn" title="Zoom In">+</button>
      </div>
      
    </div>
    
    <div class="d3js-container">
      
        
      <svg class='stratChart'>
        <g class='svgTexturesContainer'>
          <% @textures_to_render.uniq.each do |i| %>
            <%= render i %>
          <% end %>
        </g>
      </svg>
      
    </div>
    
  </div>
  
  <div class="right-column strat-right-column">
    <div class="general-info-wrapper">
      <div class="column-header">
        <h3><b>Stratigraphic Column General Information</b></h3>
      </div>
        

      <div id="strat_column">
        <!-- Funny enough, this renders the column partial and makes the records from the column 
        var in the profile/show controller available to be used in the partial -->
        <%= render @strat_column %>
      </div>
      
      <div class="info-btns">
        
        <div class="edit_show_btn">
          <%= link_to edit_strat_column_path(:id => @strat_column.id), remote: true, class: "btn btn-default btn-xs edit-column-info-btn" do %>
            <i class='glyphicon glyphicon-pencil'></i>
            Edit Information
          <% end %>
        </div>
        

        <!--https://stackoverflow.com/questions/18492617/button-to-download-inpage-svg-code-as-an-svg-file-->
        <!-- https://nytimes.github.io/svg-crowbar/ Using v2 of SVG Crowbar -->
        <a class="btn btn-default btn-xs" href="javascript:javascript: (function () { var e = document.createElement('script'); e.setAttribute('src', 'https://nytimes.github.io/svg-crowbar/svg-crowbar-2.js'); e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e); })();">⇩ Download SVG</a>
 
        <button class="btn btn-default btn-xs" data-toggle="collapse" data-target="#help">Help</button>
        <div id="help" class="collapse help-prompt">
          <p> Note: The download button uses svg-crowbar.js to provide the user access to every SVG element in the DOM. </p>
          <p> The window labeled stratChart contains all the elements inside the chart including fill patterns whereas the 
          unlabeled windows contain individual fill patterns in SVG format.  These patterns were derived from <a href="http://pubs.usgs.gov/tm/2006/11A02/">FDGC's digital cartographic standard</a> and compiled/converted into SVG format by the
          <a href="https://blogs.otago.ac.nz/si-geology/resources/illustrationgraphics-resources/usgs-inkscape-pack-instructions-and-download-link/">University of Otago</a>. </p>
          <p> A tip; you can modify the column using a browser's developer tools before downloading the SVG image.  Changes done to the column before
              downloading the image will be reflected on the downloaded SVG file!  
          </p>
          <p> This application uses the the second version of svg-crowbar, which may take a few minutes to load depending on how large/complex the column is. To get out of the download prompt, please refresh the page. For more info about svg-crowbar visit: <a href="https://nytimes.github.io/svg-crowbar"> the project page.</a></p>
        </div>

        <%= link_to strat_column_path(@strat_column.id), method: :delete, data: { confirm: 'Are you sure you want to delete this column?'}, class: 'btn btn-danger btn-xs' do %>
          <strong>Delete Column</strong>
        <% end %>
        
        
      </div>  
    </div> <!--general info-->
    
    <div class="layer-info-wrapper">
      <div class= "layer-heading">
        <h3 class="layer-title-info"><b>Strata Information</b></h3>
        <%= link_to new_strat_column_layer_path(strat_column_id: @strat_column.id), remote: true, class: "btn btn-default btn-xs new-layer-btn" do %>
          <i class='glyphicon glyphicon-plus'></i>
          New Stratum
        <% end %>
      </div>
      </br>
      <div class="panel-group">
        
        <% if @layers != nil %>
          <div id="layers">
 
            <%= render @layers %>
          </div>
        <% end %>        
      </div> 
    </div>
    
  </div> <!--right-column end-->

</div> <!--flex container-->

  <%= render partial: 'fossil_table', locals: {layer: @layers}%>


