
<div class = "fossil">
  <div class="infoFormFields fossilFields">

  	<div class="form-group">
  		<%= f.label :name, label: 'Taxon Name' %>
	    <span class="tooltips glyphicon glyphicon-question-sign"><span class="depth-tooltip">Primary PBDB query</span></span>   		
    	<%= f.input_field :name, {class: "taxon-name form-control"} %>
  	</div>

    <div class="form-group">
	    <%= f.label :query, label: 'Fallback Query'%>
	    <span class="tooltips glyphicon glyphicon-question-sign"><span class="depth-tooltip">Secondary PBDB query</span></span> 
	    <%= f.input_field :query, { class: 'taxon-name form-control'} %>
		</div>

    <%= f.input :abundance, label: 'Abundance', collection: ["Abundant", "Common", "Frequent", "Occasional", "Rare"] %>
    <%= f.input :notes%>


    <%= link_to_remove_association('Remove', f, {wrapper_class: 'fossil'})%>

  </div>
</div>
