<%= simple_form_for [@strat_column, @layer], remote: true, :html => { :multipart => true } do |f| %>
  <div id="errors" class="bg-danger text-danger"></div>  
  
  <!-- Associations field-->  
  <%= render 'shared/forms/layer_fields', f: f %>

  <div class="fossil-label">
    <h4 class="section-label"> <strong>Fossil Content</strong></h4> 
    <div class="the-separator"></div>
    <p><strong>Note:</strong> This application uses the optional fallback 
      query if it doesn't find a record matching the taxon name provided. 
    </p>
    <!--_traversal chooses the closest node selection relative to the link -->
  </div>

  <div class="fossil-container">

    <%= f.simple_fields_for :fossils do |fossil|%>
      <%= render 'shared/forms/fossil_fields', f: fossil %>
    <% end %>     
  </div>

  <div>
    <%= link_to_add_association 'Add', f, :fossils, partial: 'shared/forms/fossil_fields', class: "add-fossil glyphicon glyphicon-plus btn btn-default btn-sm", title: 'Add fossil field' %> 
  </div>


  <div class="modal-footer">
    <div class = "form-group">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>  
  
<% end %>