<%= simple_form_for [@strat_column, @layer], remote: true, :html => { :multipart => true } do |f| %>
  <div id="errors" class="bg-danger text-danger"></div>  
  
  <!-- Associations field-->  
  <%= f.input :name, error: 'Layer name is required' %>

  <%= f.input :lithology_name, label: "Select Lithology Pattern", placeholder: "Input name or FGDC Pattern Number",input_html: {class: 'lithology_name', data: {autocomplete_source: lithologies_path}}, error: "Input a valid lithology pattern" %>

  <%= f.input :formation %>

  <%= f.input :timescale_name, label: 'Select Geologic Age', input_html: {class: 'timescale_name', data: {autocomplete_source: timescales_path}}, error: "Input a valid geologic age", placeholder: "Input name of Geologic Age" %>

  <%= f.input :contact_id, collection: Contact.order(:name), label_method: :name, value_method: :id, label: "Select Contact Type (Upper Boundary)", prompt: "Select Contact", error: "Select a type of contact" %>

  <%= f.input :thickness, as: :string, placeholder: 'Must be in meters', error: "Can't be blank"%>

  <%= f.input :description %>
  
  <div class="fossil-label">
    <h4 class="section-label"> <strong>Fossil Content</strong></h4> 
    <div class="the-separator"></div>
    <p><strong>Note:</strong> This application uses the optional fallback 
      query if it doesn't find a record matching the taxon name provided. 
    </p>
    <!--_traversal chooses the closest node selection relative to the link -->
  </div>

  <div class="fossil-container">

    <%= f.simple_fields_for :fossils do |fossil|%>
      <%= render 'fossil_fields', f: fossil %>
    <% end %>     
  </div>

  <div>
    <%= link_to_add_association 'Add', f, :fossils, class: "add-fossil glyphicon glyphicon-plus btn btn-default btn-sm", title: 'Add fossil field' %> 
  </div>


  <div class="modal-footer">
    <div class = "form-group">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>  
  
<% end %>