<%= form_for @layer, remote: true, :html => { :multipart => true } do |f| %>
  <div id="errors" class="bg-danger text-danger"></div>  
  
  <!-- Associations field-->
  <%= f.hidden_field :strat_column_id, value: @strat_column_id.id if @layer.new_record? %>   
  
  <div class= "form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: :true, class: "form-control" %>
  </div>   
  
  <div class = "form-group" data-fieldname="lithology_name">
    <%= f.label :lithology_name, "Lithology Patterns" %> <span class="tooltips glyphicon glyphicon-question-sign"><span>See: FGDC Lithologic Patterns</span></span>
    <%= f.text_field :lithology_name, required: :true, data: {autocomplete_source: lithologies_path}, class: "lithology_name form-control"%>    
  </div>   
  
  <div class = "form-group">
    <%= f.label :formation %>
    <%= f.text_field :formation, class: "form-control" %>
  </div>
  
  <div class = "form-group" data-fieldname="timescale_name">
    <%= f.label :timescale_name,"Geologic Age" %> <span class="tooltips glyphicon glyphicon-question-sign"><span>Determines chart legend/color</span></span>
    <%= f.text_field :timescale_name, required: :true, data: {autocomplete_source: timescales_path} ,class: "timescale_name form-control"%>    
  </div>
  
  <div class = "form-group" data-fieldname="contact_id">
    <%= f.label :contact_id,"Contact Type (Upper Boundary)" %>
    <%= f.collection_select(:contact_id, Contact.order(:name), :id, :name, {include_blank: "Select Contact Type"}, {required: true, class: "form-control"})%>    
  </div>   
  
  <div class = "form-group" data-fieldname="thickness">
  <%= f.label :thickness %>
    <%= f.text_field :thickness, required: :true, placeholder: "Must be in meters", class: "form-control" %>
  </div>
  
  <div class = "form-group" data-fieldname="description">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <div class="modal-footer">
    <div class = "form-group">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>  
  
<% end %>