<!DOCTYPE html>
<html>
  <head>
    <title>stratMap</title>
    <%= csrf_meta_tags %>

    
    <script src="https://d3js.org/d3.v4.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5c68eeIBYe5SRVb-eZJpFWQELi1tXKzI&libraries=places"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class= "<%= controller_name %> <%= action_name %>">
    <!-- NAVBAR-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">stratMap</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to("Map View", maps_path)%></li>
              <li><%= link_to("Index", strat_columns_path)%></li>
              <li><%= link_to("Create", new_strat_column_path)%></li>
              <li><%= link_to("Collection", collections_path)%></li>
              <li><%= link_to("Collection Create...", new_collection_path)%></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            </ul>
          <% elsif !user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to('Sign Up', new_user_registration_path) %></li>
              <li><%= link_to('Login', new_user_session_path) %></li>
            </ul>
          <% end %>
          
          
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>  <!-- NAVBAR end -->
      <%= yield %>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>   -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5c68eeIBYe5SRVb-eZJpFWQELi1tXKzI&callback=initMap"></script>-->
  </body>
</html>
