<!DOCTYPE html>
<html>
  <head>
    <title>StratMap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--D3JS-->
    <script src="https://d3js.org/d3.v4.min.js"></script> 

  </head>

  <body>
    <!-- NAVBAR-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">strat-map</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to("Create", new_strat_column_path)%></li>
              <li><%= link_to("Index", strat_columns_path)%></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <% elsif !user_signed_in? %>
              <li><%= link_to('Sign Up', new_user_registration_path) %></li>
              <li><%= link_to('Login', new_user_session_path) %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>  <!-- NAVBAR end -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
